<!--
 - Created by NigamGoyal on 1/24/2020.
 -->

<!-- multiPicklist -->
<template>

    <div>
        <div class="slds-show_inline-block">
            <template if:false={labelHidden}>
                <label class="slds-form-element__label slds-no-flex">{labelFor}</label>
            </template>
            <div class="">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-align-middle">
                        <span>
                            <template for:each={selectedValues} for:item='selectedValue'>
                                <span key={selectedValue.value} class="slds-show_inline-block slds-p-top_xxx-small slds-m-right_xxx-small">
                                    <lightning-pill name={selectedValue.value}
                                                    label={selectedValue.label}
                                                    title={selectedValue.label}
                                                    onremove={handleRemoveSelectedValueAction}
                                                    class={setCssOnPills}>
                                    </lightning-pill>
                                </span>
                            </template>
                        </span>
                        <span class="slds-show_inline-block slds-p-vertical_xxx-small">
                            <template if:true={isShowButton}>
                                <lightning-button label="-- Select --"
                                                  title=""
                                                  icon-name="utility:down"
                                                  icon-position="right"
                                                  class="slds-p-vertical_xxx-small"
                                                  onclick={handleShowValueAction}>
                                </lightning-button>
                            </template>
                            <span class="slds-is-relative">
                                <div class="slds-is-absolute" style="z-index:9999; top:27px; min-width:200px;">
                                    <table class="slds-table_fixed-layout">
                                        <template for:each={options} for:item='picklistValue'>
                                            <tr class="bg-white
                                                slds-box_border
                                                bg-skyBlue-onHover"
                                                key={picklistValue.value}
                                                data-label={picklistValue.label}
                                                data-value={picklistValue.value}
                                                onclick={handleValueSelectAction}>
                                                <td class="slds-p-horizontal_small
                                                   slds-p-vertical_xxx-small slds-truncate" title={picklistValue.label}>
                                                    <lightning-formatted-text value={picklistValue.label}>
                                                    </lightning-formatted-text>
                                                </td>
                                            </tr>
                                        </template>
                                    </table>
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>