/**
 * Created by NigamGoyal on 1/24/2020.
 */
.bg-white{
    background-color: #fff;
}

.bg-skyBlue-onHover:hover{
    background-color:#00A1E0;
    color:#fff;
    cursor:pointer;
}

.custom-block.slds-show{
    display:block;
}

.min-width{
   max-width:200px;
}