<!--
 - Created by NigamGoyal on 5/18/2020.
 -->

<!-- comSearchPicklist -->
<template>

    <div>
        <div class="slds-is-relative">
            <div>
                <lightning-input type="text"
                                 variant="label-hidden"
                                 value={selectedName}
                                 onchange={handleChangeTempPicklist}
                                 autocomplete="off"
                                 disabled={isDisabled}
                                 required={isRequired}
                                 onclick={handleShowPicklist}
                                 onblur={handleHidePicklist}>
                </lightning-input>
            </div>
            <div class="slds-is-absolute" style="right:5px; top:7px; pointer-events: none;">
                <template if:true={isShowPicklist}>
                    <lightning-button-icon icon-name="utility:up"
                                           variant="bare"
                                           alternative-text="Up"
                                           title="up">
                    </lightning-button-icon>
                </template>
                <template if:false={isShowPicklist}>
                    <lightning-button-icon icon-name="utility:down"
                                           variant="bare"
                                           alternative-text="down"
                                           title="down">
                    </lightning-button-icon>
                </template>
            </div>
            <div class="slds-is-absolute" style="left:0; right:0; top:33px;">
                <div class="slds-is-relative">
                    <template if:true={isShowPicklist}>
                        <div tabindex="0"
                             class="slds-is-absolute picklistBox slds-p-vertical_xxx-small"
                             onmousedown={picklistBoxOnMouseDown}
                             onmouseup={picklistBoxOnMouseUp}
                             onblur={handleHidePicklist}>
                            <template for:each={tempPicklistValues} for:item="picklistObj">
                                <div key={picklistObj.value}
                                     data-name={picklistObj.name}
                                     data-value={picklistObj.value}
                                     onclick={handleChangeValue}
                                     class="slds-p-horizontal_small slds-p-vertical_x-small picklistValue">
                                    {picklistObj.name}
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>

</template>