/**
 * Created by NigamGoyal on 5/18/2020.
 */
.picklistBox{
    max-height: 250px;
    overflow-y: auto;
    z-index: 99;
    background-color: #fff;
    border: 1px solid #dddbda;
    border-radius: 4px;
    margin-top: 1px;
    left: 0;
    right: 0;
}

.picklistValue:hover{
    background-color:#F3F2F2;
    cursor:pointer;
}

