<!--
 - Created by NigamGoyal on 1/24/2020.
 -->

<!-- testPicklist -->
<template>
    <c-picklist s-object-name="Account"
                s-object-field-name="Type"
                selected-value="Prospect"
                label-hidden="true"
                onselectedvaluechange={handleSelectedValueChangeAction}>
    </c-picklist>
    <c-picklist s-object-name="Account"
                s-object-field-name="Type"
                selected-value="Prospect"
                label-hidden="false"
                onselectedvaluechange={handleSelectedValueChangeAction}>
    </c-picklist>
    <c-picklist s-object-name="Account"
                s-object-field-name="Type"
                selected-value="Prospect"
                onselectedvaluechange={handleSelectedValueChangeAction}>
    </c-picklist>
</template>