<!--
 - Created by NigamGoyal on 1/22/2020.
 -->

<!-- testLookUp -->
<template>


       <c-look-up s-object-name="Contact"
               search-field-api-name="FirstName"
               show-field-api-name="Name"
               id-field-api-name="Id"
               lookup-icon="standard:contact"
               multiple-select=true
               selected-record-ids={selectedRecordIds}
               label-hidden=true
               onselectedrecordidlistchange={handleSelectedRecordIdListChangeAction}>
        <!--where-conditions="FirstName='Andy'"-->
    </c-look-up>
       <c-look-up s-object-name="Contact"
               search-field-api-name="FirstName"
               show-field-api-name="Name"
               id-field-api-name="Id"
               lookup-icon="standard:contact"
               multiple-select={multipleSelect}
               selected-record-ids={selectedRecordIds}
                  query-field-api-names-str="LastName,FirstName"
               onselectedrecordidlistchange={handleSelectedRecordIdListChangeAction}>
        <!--where-conditions="FirstName='Andy'"-->
    </c-look-up>
       <c-look-up s-object-name="Contact"
               search-field-api-name="FirstName"
               show-field-api-name="Name"
               id-field-api-name="Id"
               lookup-icon="standard:contact"
               multiple-select={multipleSelect}
               selected-record-ids={selectedRecordIds}
               onselectedrecordidlistchange={handleSelectedRecordIdListChangeAction}>
        <!--where-conditions="FirstName='Andy'"-->
    </c-look-up>



</template>