.customAnimation{
    z-index: 9999999;
    width:100vw;
    animation-name: toast;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes toast {
  from {top: 0vh;}
  to {top: 7vh;}
}