/**
 * Created by NigamGoyal on 1/6/2020.
 */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(odd) td {
  background-color: lightgrey;
}

.chevronUp,.chevronRotate{
    transform: rotate(-90deg);
}

.chevronDown{
    transform: rotate(90deg);
}

.columnSelector:hover {
 border-right: 2px solid #00A1E0;
}

.customRight{
    right:10px;
}
.cursorPointer{
    cursor: pointer;
}

.normalWhiteSpace{
    white-space: normal;
}