<!--
 - Created by NigamGoyal on 1/3/2020.
 -->

<!-- contactRecord -->
<template>
    <lightning-card title={relatedListName}>
        <div class="slds-grid slds-grid_align-center" slot="actions">
            <div class="slds-align_absolute-center">
                <span class="slds-show_inline-block slds-m-horizontal_small">
                    <lightning-input
                            name="enter-search"
                            variant="label-hidden"
                            autocomplete="off"
                            type="search"
                            onchange={handleSearchAction}
                            placeholder="Search when user hits the 'enter' key"
                            title="Search when user hits the 'enter' key">
                    </lightning-input>
                </span>
                <span class="chevronRotate slds-show_inline-block slds-is-relative slds-m-horizontal_xx-small">
                    <lightning-button-icon icon-name="utility:jump_to_top"
                                           size="small"
                                           alternative-text="View More"
                                           class=""
                                           onclick={handleGoToFirstPage}>
                    </lightning-button-icon>
                </span>
                <span class="chevronRotate slds-show_inline-block slds-is-relative slds-m-horizontal_xx-small">
                    <lightning-button-icon icon-name="utility:up"
                                           size="small"
                                           alternative-text="View More"
                                           class=""
                                           onclick={handleGoToPreviousPage}>
                    </lightning-button-icon>
                </span>
                <span class="chevronRotate slds-show_inline-block slds-is-relative slds-m-horizontal_xx-small">
                    <lightning-button-icon icon-name="utility:down"
                                           size="small"
                                           alternative-text="View More"
                                           class=""
                                           onclick={handleGoToNextPage}>
                    </lightning-button-icon>
                </span>
                <span class="chevronRotate slds-show_inline-block slds-is-relative slds-m-horizontal_xx-small">
                    <lightning-button-icon icon-name="utility:jump_to_bottom"
                                           size="small"
                                           alternative-text="View More"
                                           class=""
                                           onclick={handleGoToLastPage}>
                    </lightning-button-icon>
                </span>
                <span class="slds-show_inline-block slds-m-horizontal_xx-small">
                    <lightning-icon icon-name="utility:record"
                        alternative-text="dot"
                        size="xx-small"
                        class="">
                    </lightning-icon>
                </span>
                <span class="slds-text-align_center">
                    ( {currentPage} of {numberOfPages} )
                    <hr style="margin:0;"/>
                    {noOfRecordsToDisplay}
                </span>
                <span class="slds-show_inline-block slds-m-horizontal_xx-small">
                    <lightning-icon icon-name="utility:record"
                        alternative-text="dot"
                        size="xx-small"
                        class="">
                    </lightning-icon>
                </span>
            </div>
            <div >
                <lightning-combobox name="noOfRecords"
                                    label="Size"
                                    placeholder="10"
                                    value={showNumberOfRecords}
                                    options={showOptions}
                                    variant="label-hidden"
                                    onchange={handleShowNumberOfRecords}>
                </lightning-combobox>
            </div>
            <div class="slds-m-left_small">
                <lightning-button-icon
                        icon-name="utility:refresh"
                        alternative-text="Refresh"
                        title="Refresh"
                        onclick={handleRefreshListAction}>
                </lightning-button-icon>
            </div>

        </div>

        <div class="slds-p-horizontal_xx-small">
            <table class="resizeTable slds-table_fixed-layout">
                <thead>
                    <tr class="truncate_tr_js">
                        <template for:each={fieldSetMembers}  for:item="fieldSetMember">

                            <th key={fieldSetMember.fieldPath}
                                class="slds-is-relative truncate_th_td_js">
                                <div class="truncate_div_js slds-truncate chevronShowOnHover cursorPointer slds-show_inline-block"
                                     data-name={fieldSetMember.fieldPath}
                                     data-order=""
                                     onclick={handleSortOrder}>
                                    {fieldSetMember.label}
                                    <lightning-icon icon-name="utility:forward"
                                                    alternative-text="Approved"
                                                    size="xx-small"
                                                    class="chevron
                                                    chevronUp
                                                    slds-hide
                                                    slds-m-left_small">
                                    </lightning-icon>

                                    <lightning-icon icon-name="utility:forward"
                                                    alternative-text="chevronDown"
                                                    size="xx-small"
                                                    class="chevron
                                                    chevronDown
                                                    slds-hide
                                                    slds-m-left_small">
                                    </lightning-icon>
                                </div>
                                <lightning-button-menu alternative-text="Show menu"
                                                       variant="border-filled"
                                                       icon-size="x-small"
                                                       class="customRight slds-is-absolute"
                                                       onselect={handleWrapOrClipTextAction}>
                                    <lightning-menu-item value="WrapText" label="Wrap Text">
                                    </lightning-menu-item>
                                    <lightning-menu-item value="ClipText" label="Clip Text">
                                    </lightning-menu-item>
                                </lightning-button-menu>
                            </th>

                        </template>
                    </tr>
                </thead>
                <tbody>
                <template for:each={showRecordsList} for:item="contactRecord">
                    <tr key={contactRecord.Id} class="truncate_tr_js" >
                        <template for:each={fieldSetMembers} for:item="fieldSetMember">
                            <td key={fieldSetMember.fieldPath} class="truncate_th_td_js">
                                <div class="truncate_div_js slds-truncate">
                                    <c-formatted-field-template obj-record={contactRecord}
                                    field-set-member={fieldSetMember}>
                                    </c-formatted-field-template>
                                </div>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </lightning-card>
</template>