<!--
 - Created by NigamGoyal on 1/3/2020.
 -->

<!-- contactRecord -->
<template>
    <lightning-card title="Contacts">
        <div class="slds-p-horizontal_xx-small">
            <table>
                <thead>
                <tr>
                    <template for:each={fieldSetMembers} for:item="fieldSetMember">
                        <th key={fieldSetMember.fieldPath} >
                            {fieldSetMember.label}
                        </th>
                    </template>
                </tr>
                </thead>
                <tbody>
                <template for:each={contactList} for:item="contactRecord">
                    <tr key={contactRecord} >
                        <template for:each={contactRecord} for:item="contactRecFieldObj">
                            <td key={contactRecFieldObj}>
                                <c-formatted-type-template field-obj={contactRecFieldObj} >
                                </c-formatted-type-template>
                            </td>
                        </template>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </lightning-card>
</template>