/**
 * Created by NigamGoyal on 1/6/2020.
 */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) td {
  background-color: lightgrey;
}