<!--
 - Created by NigamGoyal on 1/6/2020.
 -->

<!-- formattedTypeTemplate -->
<template>
    <template if:true={isText}>
        <lightning-formatted-text value={value}
                                  linkify>
        </lightning-formatted-text>
    </template>
    <template if:true={isNumber}>
        <lightning-formatted-number value={value}
                                    format-style="decimal"
                                    maximum-fraction-digits="5">
        </lightning-formatted-number>
    </template>
    <template if:true={isCurrency}>
        <lightning-formatted-number value={value}
                                    format-style="currency">
        </lightning-formatted-number>
    </template>
    <template if:true={isDate}>
        <lightning-formatted-date-time value={value}>
        </lightning-formatted-date-time>
    </template>
    <template if:true={isDateTime}>

        <lightning-formatted-date-time value={value}
                                       year="numeric"
                                       month="short"
                                       day="2-digit"
                                       hour="numeric"
                                       weekday="long">
        </lightning-formatted-date-time>
    </template>
    <template if:true={isTime}>
        <lightning-formatted-date-time value={value}
                                       hour="2-digit"
                                       minute="2-digit"
                                       second="2-digit"
                                       hour12="true"
                                       time-zone-name="long">
        </lightning-formatted-date-time>
    </template>
    <template if:true={isPhone}>
        <lightning-formatted-phone value={value}>
        </lightning-formatted-phone>
    </template>
    <template if:true={isEmail}>
        <lightning-formatted-email value={value} >

        </lightning-formatted-email>
    </template>
    <template if:true={isRichText}>
        <lightning-formatted-rich-text value={value} >
        </lightning-formatted-rich-text>
    </template>
    <template if:true={isURL}>
        <lightning-formatted-url value={value}
                                 tooltip={value} >

        </lightning-formatted-url>
    </template>
    <template if:true={isAddress}>
        <lightning-formatted-address street="121 Spear St."
                                     city="San Francisco"
                                     country="US"
                                     province="CA"
                                     postal-code="94105">
        </lightning-formatted-address>
    </template>
    <template if:true={isGeoLocation}>
       <lightning-formatted-location latitude="22"
                                     longitude="122.2222">
       </lightning-formatted-location>
    </template>
    <template if:true={isBoolean}>
        <lightning-input type="checkbox"
                         variant="label-hidden"
                         disabled
        checked={value}>
        </lightning-input>

    </template>
</template>