<!--
 - Created by NigamGoyal on 1/24/2020.
 -->

<!-- picklist -->
<template>

    <template if:false={labelHidden}>
        <label class="slds-form-element__label slds-no-flex">{labelFor}</label>
    </template>
    <lightning-combobox
            name={sObjectFieldName}
            variant="label-hidden"
            value={selectedValue}
            placeholder="Select Picklist Value"
            options={options}
            onchange={handleChangeAction} ></lightning-combobox>
</template>