<!--
 - Created by NigamGoyal on 1/24/2020.
 -->

<!-- testMultiPicklist -->
<template>
    <c-multi-picklist s-object-name="Account"
                s-object-field-name="Type"

                onselectedvalueschange={handleSelectedValueChangeAction}>
    </c-multi-picklist>
    <c-multi-picklist s-object-name="Account"
                s-object-field-name="Type"
                pre-selected-values={preSelectedValues}
                onselectedvalueschange={handleSelectedValueChangeAction}>
    </c-multi-picklist>
    <c-multi-picklist s-object-name="Account"
                s-object-field-name="Type"
                label-hidden="true"
                onselectedvalueschange={handleSelectedValueChangeAction}>
    </c-multi-picklist>

</template>