<!--
 - Created by NigamGoyal on 1/22/2020.
 -->

<!-- comLookUp -->
<template>
    <div>
        <div class={setCssOnMultipleSelectTrue}>
            <template if:false={labelHidden}>
                <label class="slds-form-element__label slds-no-flex">{labelFor}</label>
            </template>

            <div>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-align-middle">
                        <span>
                            <template for:each={selectedSObjectList} for:item="selectedSObject">
                                <lightning-pill key={selectedSObject.Id}
                                                name={selectedSObject.Id}
                                                label={selectedSObject.Name}
                                                onremove={handleRemoveSelectedRec}
                                                class={setCssOnPills}>
                                    <lightning-icon
                                            icon-name={lookupIcon}
                                            alternative-text="Contact">
                                    </lightning-icon>
                                </lightning-pill>
                            </template>
                        </span>
                        <template if:true={showSearchInputBox}>
                            <span class={setCssOnMultipleSelectTrue}>
                                <lightning-input
                                        name="enter-search"
                                        variant="label-hidden"
                                        type="search"
                                        value={searchText}
                                        onchange={handleSearchTextChangeAction}
                                        onblur={handleHidePicklist}
                                        class={setCssOnInputSearchBox}>
                                </lightning-input>
                                <div class={setCssOnShowListDiv}
                                     style=" z-index:9999; left: 0px; right:0px; top: 32px; min-width:222px;">
                                            <template if:true={sObjectList.length}>
                                                <div class="slds-box_border " style="border-radius:4px;">
                                                    <template for:each={sObjectList} for:item='sObjectRec'>
                                                        <div  class="bg-white
                                                                    bg-skyBlue-onHover"
                                                              key={sObjectRec.Id}
                                                              data-id={sObjectRec.Id}
                                                              data-name={sObjectRec.Name}
                                                              onclick={handleOnSelectRecordAction}>
                                                            <div class="slds-p-horizontal_small
                                                                       slds-p-vertical_xx-small">
                                                                <lightning-icon
                                                                        icon-name={lookupIcon}
                                                                        size="small"
                                                                        alternative-text="Contact">
                                                                </lightning-icon>&nbsp;
                                                                <lightning-formatted-text value={sObjectRec.Name}>

                                                                </lightning-formatted-text>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </template>
                                        </div>
                            </span>
                        </template>

                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<!--Parent Component Html Code-->
<!--<c-look-up s-object-name="Contact"-->
<!--search-field-api-name="FirstName"-->
<!--show-field-api-name="Name"-->
<!--id-field-api-name="Id"-->
<!--lookup-icon="standard:contact"-->
<!--selected-record-ids={selectedRecordIds}-->
<!--onselectedrecordidlistchange={handleSelectedRecordIdListChangeAction}>-->
<!--&lt;!&ndash;where-conditions="FirstName='Andy'"&ndash;&gt;-->
<!--</c-look-up>-->